<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="login-header">
    <figure style="width: 150px;height: 150px;">
        <figcaption>responsive(150*150)</figcaption>
        <img class="img-responsive " src="../images/1.png" alt="头像"/>
    </figure>
    <figure style="width: 100px;height: 100px;">
        <figcaption>responsive(100*100)</figcaption>
        <img class="img-responsive " src="../images/2.png" alt="头像"/>
    </figure>
</div>
</body>
</html>