<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
<title>Furniture</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Best Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="../css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="../css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script src="../js/jquery.min.js"></script>
<!-- //js -->
<!-- cart -->
	<script src="../js/simpleCart.min.js"> </script>
<!-- cart -->
<link rel="stylesheet" type="text/css" href="../css/jquery-ui.css">
<!-- for bootstrap working -->
	<script type="text/javascript" src="../js/bootstrap-3.1.1.min.js"></script>
<!-- //for bootstrap working -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<!-- animation-effect -->
<link href="../css/animate.min.css" rel="stylesheet"> 
<!-- //animation-effect -->
</head>
	
<body>
<!-- header -->
<div class="header">
	<div class="container">
		<div class="header-grid">
			<div class="header-grid-left animated wow slideInLeft" data-wow-delay=".5s">

			</div>
			<div class="header-grid-right animated wow slideInRight" data-wow-delay=".2s">
				<ul class="social-icons">
					<!--<li><a href="#" class="facebook"></a></li>-->
					<li><a href="#" class="twitter"></a></li>
					<!--<li><a href="#" class="g"></a></li>-->
					<!--<li><a href="#" class="instagram"></a></li>-->
					<li>
						<i class="glyphicon " aria-hidden="true">
						</i><a href="../login.html">登录/</a><a href="../register-01.html">免费注册</a>
					</li>-->
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="logo-nav">
			<div class="logo-nav-left animated wow zoomIn slideInLeft " data-wow-delay=".5s" >
				<h1 ><a href="../index/">赏 金 猎 人</a></h1>
				<span>赏金猎人中小型校园任务发布平台</span>
			</div>
			<div class="logo-nav-left1">
				<nav class="navbar navbar-default">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header nav_2">
						<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
						<ul class="nav navbar-nav">
							<li class="active"><a href="../index/" >首页</a></li>
							<!-- Mega Menu -->
							<li class="dropdown ">
								<a href="../products.html" class="dropdown-toggle " data-toggle="dropdown">悬赏任务分类 <b class="caret"></b></a>
								<ul class="dropdown-menu multi-column columns-1">
									<div class="row"  >
										<div class="col-sm-8"  >
											<ul class="multi-column-dropdown" style="padding-left: 40px;" th:each="c : ${category}">
												<!--<h6>分类列表</h6>-->
												<li><a th:href="@{'../assignment/list?categoryType='+${c.categoryType} }" th:text="${c.categoryName}">招聘兼职</a></li>
											</ul>
										</div>
										<div class="clearfix"></div>
									</div>
								</ul>
							</li>
							<li  ><a href="../category/news" style="color:#dd703e">最新任务列表</a></li>
							<li><a href="../category/mail">任务发布</a></li>
							<li><a href="../category/check">历史任务</a></li>
						</ul>
					</div>
				</nav>
			</div>
			<div class="logo-nav-right">
				<div class="search-box">
					<div id="sb-search" class="sb-search">
						<form>
							<input class="sb-search-input" placeholder="Enter your search term..." type="search" id="search">
							<input class="sb-search-submit" type="submit" value="">
							<span class="sb-icon-search"> </span>
						</form>
					</div>
				</div>
				<!-- search-scripts -->
				<script src="../js/classie.js"></script>
				<script src="../js/uisearch.js"></script>
				<script>
                    new UISearch( document.getElementById( 'sb-search' ) );
				</script>
				<!-- //search-scripts -->
			</div>

			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!-- //header -->
<!-- breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li><a href="../index/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>首页</a></li>
				<li class="active">最新任务</li>
			</ol>
		</div>
	</div>
	<div class="products">
		<div class="container">

			<div class="col-md-12 products-right">
				<div class="products-right-grid">

					<div class="products-right-grids-position animated wow slideInRight" data-wow-delay=".5s">
						<img src="../images/flower-05.jpg" alt=" " class="img-responsive"  style="width:100%;height:500px;"/>
						<div class="products-right-grids-position1">
							<h3>2018 最新任务</h3>
							<p>出售多肉植物，品种繁多，价格优惠。</p>
						</div>
					</div>
				</div>

				<div class="col-md-4" th:each=" r :${results}">
					<div class="new-collections-grid1-image">
						<a th:href="@{'../category/detail?assignmentId='+${r.assignmentId}}" class="product-image"><img src="../images/food-08.jpg" alt=" " class="img-responsive" style="width:100%;height: 350px;padding-top:50px;"></a>
						<div class="new-collections-grid1-image-pos products-right-grids-pos">
							<a th:href="@{'../category/detail?assignmentId='+${r.assignmentId}}">点击查看任务</a>
						</div>
					</div>
					<h4 style="text-align: center;padding:10px "><a th:href="@{'../category/detail?assignmentId='+${r.assignmentId}}" style="color:black" th:text="${r.assignmentName}">美味虾尾</a></h4>
					<p style="font-size: 10px;color:gray;text-align: center" th:text="${r.assignmentDescription}">营养健康，能量加倍</p>
					<div class="simpleCart_shelfItem products-right-grid1-add-cart">
						<p><span class="item_price" th:text="${r.assignmentReward}">￥250</span>
						<div style="height:35px;text-align: center;border:1px solid orangered;line-height: 35px;"><a class="item_add" th:href="@{'../category/detail?assignmentId='+${r.assignmentId}}" style="color:orange">详 情 </a></div>
						</p>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
				<!--<nav class="numbering animated wow slideInRight" data-wow-delay=".5s">-->
				  <!--<ul class="pagination paging">-->
					<!--<li>-->
					  <!--<a href="#" aria-label="Previous">-->
						<!--<span aria-hidden="true">&laquo;</span>-->
					  <!--</a>-->
					<!--</li>-->
					<!--<li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>-->
					<!--<li><a href="#">2</a></li>-->
					<!--<li><a href="#">3</a></li>-->
					<!--<li><a href="#">4</a></li>-->
					<!--<li><a href="#">5</a></li>-->
					<!--<li>-->
					  <!--<a href="#" aria-label="Next">-->
						<!--<span aria-hidden="true">&raquo;</span>-->
					  <!--</a>-->
					<!--</li>-->
				  <!--</ul>-->
				<!--</nav>-->
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //breadcrumbs -->
<!-- footer -->
<div class="footer">
	<div class="container">
		<div class="footer-grids">
			<div class="col-md-11 footer-grid animated wow slideInLeft" data-wow-delay=".5s" style="text-align: center">
				<h3>About Us</h3>
				<p>黑龙江科技大学，坐落在北国冰城哈尔滨市，是黑龙江“十二五”期间重点建设的特色应用型本科高校，黑龙江、吉林乃至内蒙古地区唯一一所以矿业工程为特色的高校，黑龙江省人民政府和国家安全生产监督管理总局共建高校  。因坐落于松花江北岸，故有“江畔朝阳”一说。</span></p>
			</div>

			<div class="clearfix"> </div>
		</div>
		<div class="footer-logo animated wow " >
			<h2><a href="../index/">Bounty Hunter <span>shop anywhere</span></a></h2>
		</div>
		<!--<div class="copy-right animated wow slideInUp" data-wow-delay=".5s">-->
		<!--<p>Copyright &copy; 2016.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>-->
		<!--</div>-->
	</div>
</div>
<!-- //footer -->
</body>
</html>