<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="page">
<head>

</head>
<body>
<div th:fragment="pager">
    <nav class="numbering animated wow slideInRight" data-wow-delay=".5s">
        <ul class="pagination paging">
            <li th:class="${indexPage == 0}?'disabled':''" >
                <a th:href="@{'/assignment/list?categoryType='+${categoryThis.categoryType}+'&page='+${indexPage -1}}" aria-label="Previous">
                    <span aria-hidden="true">上一页</span>
                </a>
            </li>
            <li th:if="${indexPage-3 >=0}">
                <a th:href="@{'/assignment/list?categoryType='+${categoryThis.categoryType}+'&page='+${indexPage - 3}}" th:text="${indexPage-2}">1</a>
            </li>
            <li th:if="${indexPage-2 >=0}">
                <a th:href="@{'/assignment/list?categoryType='+${categoryThis.categoryType}+'&page='+${indexPage - 2}}" th:text="${indexPage-1}">1</a>
            </li>
            <li th:if="${indexPage-1 >=0}">
                <a th:href="@{'/assignment/list?categoryType='+${categoryThis.categoryType}+'&page='+${indexPage - 1}}" th:text="${indexPage}">1</a>
            </li>
            <li class="action"><a href="#" th:text="${indexPage+1}">1</a></li>
            <li th:if="${indexPage+1 <totalPages}">
                <a th:href="@{'/assignment/list?categoryType='+${categoryThis.categoryType}+'&page='+${indexPage + 1}}" th:text="${indexPage + 2}">1</a>
            </li>
            <li th:if="${indexPage+2 <totalPages}">
                <a th:href="@{'/assignment/list?categoryType='+${categoryThis.categoryType}+'&page='+${indexPage + 2}}" th:text="${indexPage + 3}">1</a>
            </li>
            <li th:if="${indexPage+3 <totalPages}">
                <a th:href="@{'/assignment/list?categoryType='+${categoryThis.categoryType}+'&page='+${indexPage + 3}}" th:text="${indexPage + 4}">1</a>
            </li>
            <li th:class="${indexPage==totalPages-1}?'disabled':''"><a th:href="@{'/assignment/list?categoryType='+${categoryThis.categoryType}+'&page='+${indexPage + 1}}">下一页</a></li>

        </ul>
    </nav>
</div>
</body>
</html>